@charset "uft-8";
/*Este estilo quita los margenes que pueden generar los navegadores*/
*{margin:0; padding:0;LINE-HEIGHT:20px;}
*{box-sizing: border-box}

/*Se establece un fondo de color casi blanco*/
body {
  background:#fffffa;
}
p{
  padding: 5px;
  color:white;

}
h3{
  padding: 8px;
  color:white;
}
header{
  width: 100%;
  overflow: hidden;
  background: #005883;
  margin-bottom: 20px;
  
}

footer{
  width: 100%;
  overflow: hidden;
  background: #57585a;
  margin-bottom: 20px;
  bottom: 0;
}

footer .credits {
 color:white;
 font-size: 20px;
 line-height: 60px;
}

content{
  width: 100%;
  overflow: hidden;
  background: #gray;
  margin-bottom: 20px;
  
    
}

/*Este estilo permite centrar el contenido deseado al 95% de la ventana y maximo de 1400px*/
.wrapper {
  width: 95%;
  max-width: 1400px;
  margin:auto;
  overflow: hidden;
 
}

header .logo {
 color:white;
 font-size: 40px;
 line-height: 120px;
 float: left;
}

header .lateral {
 float: right;
 line-height: 50px;
}

input[TYPE="search"]{
  padding: 10px;
  padding-right: 35px;
  border: none;
}
/* Set height of body and the document to 100% */
body, html {
  height: 100%;
  margin: 0;
  font-family: Arial;
}

/* Estilo para los Tabs que usamos de menu */
.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 18px 16px;
  font-size: 17px;
  width: 20%;
  height:72px;
}

.tablink:hover {
  background-color: #777;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: black ;
  display: none;
  padding: 100px 20px;
  height: 100%;
  background-image:linear-gradient(to left bottom, rgb(31, 31, 161, 0.5685),rgba(12, 12, 26, 0.5685)), url("https://cdn.pixabay.com/photo/2019/07/23/16/22/zollverein-4358088_960_720.jpg");
}
#Page0 {background-color: white;}
#Page1 {background-color: white;}
#Page2 {background-color: white;}
#Page3 {background-color: white;}
#Page4 {background-color: white;}

.pre1{
  border:1px solid #ccc;
  padding:10px;
  margin:12px 0 10px;
  font-size:5.888;
  color:white;
  ;
}

/*Estilo para la tabla de participantes*/
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  color:white;
  border: 1px solid #fafafa;
  text-align: left;
  padding: 8px;
  background-color: #121e55;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
.redes{
  
  
  
  padding: 8px;
  background-color: #121e55;
 
}
.caja-logo {
  position: absolute;
  top: -10px;
  left: 800px;
  animation-name: AnimacionTitulo;
  animation-duration:  3s;
  }
  .audioa{
    border: #005883;
  }
  
 
@keyframes AnimacionTitulo {
  0%{
          opacity: 0;
          transform: translateY(-100px);
  }
  100%{
          opacity: 1;
          transform: translateY(0px);
  }
  

