@charset "uft-8";
/*Este estilo quita los margenes que pueden generar los navegadores*/
*{margin:0; padding:0;}
*{box-sizing: border-box}


/*Se establece un fondo de color casi blanco*/
body {
  background:#fffffa;
}

header{
  width: 100%;
  overflow: hidden;
  background: #2066df;
  margin-bottom: 20px;
}

content{
  width: 100%;
  overflow: hidden;
  background: #gray;
  margin-bottom: 20px;
}

/*Este estilo permite centrar el contenido deseado al 95% de la ventana y maximo de 1400px*/
.wrapper {
  width: 95%;
  max-width: 1400px;
  margin:auto;
  overflow: hidden;
}

header .logo {
 color:white;
 font-size: 40px;
 line-height: 120px;
 float: left;
}

header .lateral {
 float: right;
 line-height: 50px;
}

input[TYPE="search"]{
  padding: 10px;
  padding-right: 35px;
  border: none;
}


/* Set height of body and the document to 100% */
body, html {
  height: 100%;
  margin: 0;
  font-family: Arial;
}

/* Style tab links */
.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
}

.tablink:hover {
  background-color: #777;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: black ;
  display: none;
  padding: 100px 20px;
  height: 100%;
}

#Page1 {background-color: white;}
#Page2 {background-color: white;}
#Page3 {background-color: white;}
#Page4 {background-color: white;}

.pre1{border:1px solid #ccc;padding:10px;margin:12px 0 10px;font-size:0,9em;}
